<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Security Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{fragment/navigation :: navigation}"></div>
<div class="container my-2">
    <h1>Summary Management System</h1>
    <hr>
    <h1>Summary List</h1>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Secid</th>
            <th>Services</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="security : ${securities}">
            <td th:text="${security.getSecid()}"></td>
            <td><a th:href="@{/summary/{secid}(secid=${security.secid})}"
                   class="btn btn-primary">Get Summary</a></td>
        </tr>
        </tbody>
    </table>
    <hr>
</div>
</body>
</html>