<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Security Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{fragment/navigation :: navigation}"></div>
<div class="container my-2">
    <h1>History Management System</h1>
    <hr>
    <h1>Histories List</h1>
    <a th:href="@{history/createHistoryForm}" class="btn btn-primary btn-sm mb-3">Add History</a>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Secid</th>
            <th>Tradedate</th>
            <th>Numtrades</th>
            <th>Open</th>
            <th>Services</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="history : ${histories}">
            <td th:text="${history.getId()}"></td>
            <td th:text="${history.getSecurity().getSecid()}"></td>
            <td th:text="${history.getTradedate()}"></td>
            <td th:text="${history.getNumtrades()}"></td>
            <td th:text="${history.getOpen()}"></td>
            <td><a th:href="@{/history/editHistoryForm/{id}(id=${history.id})}"
                   class="btn btn-primary">Edit</a>
                <a th:href="@{/history/deleteHistory/{id}(id=${history.id})}"
                   class="btn btn-primary">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <hr>
</div>
</body>
</html>